canvas{
  width: 300px;
  height: 300px;
  border:  1px solid black;
  margin:5px;
}
select{
  display:block;

}
 section{
   display:inline
 }

button{
  background-color:lightgrey;
  position:relative;
   border: none;
   color: black;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: block;
   font-size: 16px;
    margin: 20px;
    left:50px;
}

select#shape ,select#canvas-id{
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}

#canvas-container{
  width :300px;
  height:auto;
  position:relative;
  left :450px;
  top: -250px;
  padding:50px;
}
