#photo-gallery-container{
  margin:10px;
  display:flex;
  flex-wrap:wrap;
  width:1200px;
  height:900px;
  background-color:lightblue;
}

#photo-gallery-container > div{
  background-color:#f1f1f1;
  width:200px;
  height:200px;
  margin:20px;
  position:relative;

}

.paginator-container{
  position:relative;
  margin:20px;
  display:inline-block;
  left:15%;
}

.paginator-container a {
  background-color:#f1f1f1;
  float:left;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
  margin: 0 4px;
  width:30px;
  text-align:center;
  height:25px;
}

.paginator-container a.active{
  background-color: dodgerBlue;
  color: white;
  border: 1px solid dodgerBlue;
}

.paginator-container a:hover:not(.active) {
  background-color: #ddd;
}

#paginator{
  /*display: inline-block;*/
}

#photo-gallery-container div > img{
  position:relative;
  height : 120px;
  width: 120px;
  left:40px;
  top:20px;

}
#photo-gallery-container div #title{
  font-size: 12px;
  margin : 5px;
  width : 150px;
  height :40px;
  border: 1px solid black;
  position:relative;
  top:20px;
  left:20px;
  text-align:center;
  overflow: hidden;
  text-overflow: ellipsis;

}

#older,#newer{
  position:relative;
  background-color:#f1f1f1;
  color: black;
  margin:10px;
  top:10px;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
  margin: 0 4px;
}

#pagination{
  position:relative;
  left:40%;
}

#filter-id, #filter-title{
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  margin: 20px;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;
}

#search-btn{
  background-color:lightgrey;
  position:relative;
   
   color: black;
   padding: 10px;
   text-align: center;
   text-decoration: none;
   font-size: 14px;
   margin: 20px;
}
